@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<div class = "container-fluid">
<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h3>Clients:</h3>
<ul>
  @foreach (Client client in Model.Clients)
  {
    <div class = "row">
      <li>@client.Name</li>
    </div>
  }
</ul>

@Html.ActionLink("Back to list", "Index")
</div>
@* <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p> *@
@* <p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p> *@